<a href="https://colab.research.google.com/github/JR27-py/clase_python_01/blob/main/tareas/TAREA_Laboratorio_Junior.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas

Ejercicio 1

Crear una lista con los nombres de 5 bancos.

In [ ]:
bancos = ["BCP", "INTERBANK", "PICHINCHA", "BBVA", "FALABELLA"]

Ejercicio 2

Acceder al tercer banco de la lista.

In [ ]:
bancos [2]

'PICHINCHA'

Ejercicio 3

Agregar un nuevo banco a la lista.

In [ ]:
bancos.append("RIPLEY")
print(bancos)

['BCP', 'INTERBANK', 'PICHINCHA', 'BBVA', 'FALABELLA', 'RIPLEY']

Ejercicio 4

Eliminar el segundo banco.

In [ ]:
del bancos[1]
print(bancos)

['BCP', 'PICHINCHA', 'BBVA', 'FALABELLA', 'RIPLEY']

Ejercicio 5

Ordenar alfab√©ticamente los bancos.

In [ ]:
bancos.sort()
print (bancos)

['BBVA', 'BCP', 'FALABELLA', 'PICHINCHA', 'RIPLEY']

# Condicionales IF, ELIF, ELSE

Ejercicio 1

Verificar si un cliente tiene ingreso > 3000.

In [ ]:
ingreso_mensual = int(input ("Ingrese su ingreso mensual: "))
if ingreso_mensual > 3000:
  print ("El cliente tiene ingreso mayor a 3000 soles")
else:
  print ("El cliente no tiene ingreso mayor a 3000 soles")

Ingrese su ingreso mensual: 5000
El cliente tiene ingreso mayor a 3000 soles

Ejercicio 2

Evaluar edad para otorgar tarjeta de cr√©dito.

In [ ]:
edad = int(input("Ingrese su edad: "))
if edad >= 20:
  print ("El cliente tiene derecho a una tarjeta de cr√©dito")
else:
  print ("El cliente no tiene derecho a una tarjeta de cr√©dito")

Ingrese su edad: 20
El cliente tiene derecho a una tarjeta de cr√©dito

Ejercicio 3

Evaluar un score de cr√©dito.

In [ ]:
if ingreso_mensual >= 3000 and edad >= 20:
  print("tiene buen score")
else:
  print("tiene un score regular")

tiene buen score

Ejercicio 4

Verificar si una cuenta tiene saldo negativo.

In [ ]:
saldo = int(input ("Ingrese su saldo: "))
if saldo < 0:
  print ("El cliente tiene saldo negativo")
else:
  print ("El cliente no tiene saldo negativo")

Ingrese su saldo: -10
El cliente tiene saldo negativo

Ejercicio 5

Comparar dos tasas de inter√©s.

In [ ]:
tasa_1 = int(input ("Ingrese la primera tasa de inter√©s: "))
tasa_2 = int(input ("Ingrese la segunda tasa de inter√©s: "))
if tasa_1 > tasa_2:
  print ("La primera tasa de inter√©s es mayor a la segunda")
elif tasa_1 < tasa_2:
    print ("La segunda tasa de inter√©s es mayor a la primera")
else:
      print ("Las tasas son iguales")

Ingrese la primera tasa de inter√©s: 10
Ingrese la segunda tasa de inter√©s: 20
La segunda tasa de inter√©s es mayor a la primera

Ejercicio 6

Evaluar si un cliente tiene m√°s de 3 productos financieros.

In [ ]:
numero_productos = int(input ("Ingrese el n√∫mero de productos: "))
if numero_productos > 3:
  print ("El cliente tiene m√°s de 3 productos")
else:
  print ("El cliente no tiene m√°s de 3 productos")

Ingrese el n√∫mero de productos: 10
El cliente tiene m√°s de 3 productos

Ejercicio 7

Determinar si un monto depositado supera los 10,000.

In [ ]:
monto_depositado = int(input ("Ingrese el monto depositado: "))
if monto_depositado > 10000:
  print ("El monto depositado supera los 10,000 soles")
else:
    print ("El monto depositado no supera los 10,000 soles")

Ingrese el monto depositado: 5000
El monto depositado no supera los 10,000 soles

# **Diccionarios**

Ejercicio 1

Crear un diccionario con datos de un cliente.

In [ ]:
clientes = {"nombre": "Jr", "edad": 30, "saldo": 1000}

Ejercicio 2

Acceder al saldo del cliente.

In [ ]:
clientes["saldo"]

1000

Ejercicio 3

Modificar el saldo.

In [ ]:
clientes ["saldo"] = 3000
print (clientes)

{'nombre': 'Jr', 'edad': 30, 'saldo': 3000}

Ejercicio 4

Agregar una nueva llave 'tarjeta_credito'.

In [ ]:
clientes ["tarjeta_credito"] = True
print (clientes)

{'nombre': 'Jr', 'edad': 30, 'saldo': 3000, 'tarjeta_credito': True}

Ejercicio 5

Eliminar el nombre del cliente.

In [ ]:
del clientes ["nombre"]
print (clientes)

{'edad': 30, 'saldo': 3000, 'tarjeta_credito': True}

# FOR

Ejercicio 1

Recorrer una lista de tasas de inter√©s.

In [ ]:
tasas_de_interes = [2.5,3,4.5,8]
for tasa in tasas_de_interes:
  print (tasa)

2.5
3
4.5
8

Ejercicio 2

Sumar todos los saldos de una lista.

In [ ]:
saldos = [1000,2000,3000,4000,5000]
suma_saldos = 0
for saldo in saldos:
  suma_saldos += saldo
print (suma_saldos)

15000

Ejercicio 3

Recorrer una lista de precios de productos ecommerce y aplicar descuento de 10%.

In [ ]:
precios = [100,1000,600,500]
for precio in precios:
  precio_con_descuento = precio * 0.9
  print (precio_con_descuento)

90.0
900.0
540.0
450.0

Ejercicio 4

Contar cu√°ntos productos tienen un precio mayor a 100.

In [ ]:
count = 0
for precio in precios:
  if precio > 100:
    count += 1
print (count)

3

Ejercicio 5

Recorrer campa√±as de marketing y mostrar su nombre.

In [ ]:
campa√±as_marketing = ["campa√±a all in one", "campa√±a google", "campa√±a facebook"]
for campa√±a in campa√±as_marketing:
  print (campa√±a)

campa√±a all in one
campa√±a google
campa√±a facebook

Ejercicio 6

Recorrer un diccionario de clientes con saldo y mostrar solo los que tengan saldo > 2000.

In [ ]:
saldos = {"Juanito": 1000, "Pepito": 2000, "Marquitos": 3000, "Luchito": 4000}
for cliente, saldo in saldos.items():
  if saldo > 2000:
    print (cliente)

Marquitos
Luchito

Ejercicio 7

Recorrer una lista de emails de clientes y contar los que terminan en "@gmail.com".

# Mini Proyecto

"Evaluador de Clientes Hipotecarios"

Contexto:
Un banco quiere evaluar a sus clientes para ofrecerles un nuevo cr√©dito hipotecario.
Cada cliente tiene datos como: nombre, ingreso mensual, deudas actuales y n√∫mero de productos contratados.

Objetivo:
1. Crear la base de datos de clientes usando un diccionario.
2. Usar for para recorrer todos los clientes.
3. Aplicar condicionales para clasificar:
   - "Elegible" si su ingreso anual es mayor a 36,000 soles, sus deudas son menores a 15,000 soles y tiene al menos 2 productos contratados.
   - "Requiere Evaluaci√≥n" si cumple solo algunas condiciones.
   - "No Elegible" si no cumple ninguna condici√≥n.
4. Mostrar el resultado bien formateado por cliente.

Instrucciones

1. Crea un diccionario llamado clientes con al menos 5 clientes.
2. Cada cliente tendr√°:
   - Nombre (str)
   - Ingreso mensual (float)
   - Deudas (float)
   - N√∫mero de productos contratados (int)
3. Calcula el ingreso anual (ingreso mensual √ó 12).
4. Usa un for para recorrer cada cliente.
5. Usa if, elif, else para clasificarlo en una de las tres categor√≠as.
6. Muestra en pantalla: Cliente: {nombre} - Resultado: {clasificaci√≥n}

# üî• Nivel extra:

1. Ingresa manualmente los clientes (input).
2. Calcula la diferencia absoluta (abs) entre ingreso anual y deudas.
3. Redondea (round) el ingreso anual al n√∫mero entero m√°s cercano.